var proxySnippet = require('grunt-connect-proxy/lib/utils').proxyRequest;

module.exports = {
  connect: {
    options: {
      port: 9000,
      base: 'build',
      middleware: function (connect, options) {
        return [
          proxySnippet,
          connect.static(options.base)
        ];
      }
    },
    proxies: [
      {
        /* ~~~ Alpha server: dev.ycttt.com ~~~ */
        host: 'dev.ycttt.com',
        port: 9999,

        /* ~~~ localhost ~~~ */
        //host: 'localhost',
        //port: 3000,

        /* ~~~ xhh ~~~ */
        //host: '192.168.0.193',
        //port: 3000,

        context: '/api',
        https: false,
        changeOrigin: false
      }
    ]
  }
};
