<script type="text/ng-template" id="section_sider.html">
  <div ng-hide="section.question">
    <h6>{{section.title}}</h6>
    <div section-sider="sub_section" ng-repeat="sub_section in section.children"></div>
  </div>

  <div ng-show="section.question">
    <a href="#" ng-click="showQuestion(section)">{{section.question_num}}</a>
  </div>
</script>

<script type="text/ng-template" id="section_template_1">
  <div ng-hide='section.question'>
    <h3>{{section.title}}</h3>
    <div ng-bind-html-unsafe="section.description"></div>
    <div class="section" title="section-{{section.id}}" ng-repeat="section in section.children" ng-include="'section_template_1'"></div>
  </div>

  <div ng-show='section.question'>
    <div block="section.question" question-num="section.question_num" template="'block_template_1'"></div>
  </div>
</script>

<script type="text/ng-template" id="block_template_1">
  <div ng-hide='question.question_content'>
    <h5>{{questionNum}}</h5>
    <div ng-bind-html-unsafe="question.material"></div>
    <div ng-repeat="question in question.children" ng-include="'block_template_1'"></div>
  </div>
  <div ng-show='question.question_content'>
    <div question='question.question_content' template="'question_template_1'"></div>
  </div>
</script>

<script type="text/ng-template" id="question_template_1">
  <span>{{question.question_num}}.</span>
  <span ng-show='question.content'>{{question.content}}.</span>
  <div>A) <span ng-bind-html-unsafe="question.option_a"></span></div>
  <div>B) <span ng-bind-html-unsafe="question.option_b"></span></div>
  <div>C) <span ng-bind-html-unsafe="question.option_c"></span></div>
  <div>D) <span ng-bind-html-unsafe="question.option_d"></span></div>
</script>

<style type="text/css">
  .section-sider, .section, .block, .question {
    margin: 10px 0;
    padding: 10px;
    border: #ccc solid 1px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="span12" style="text-align:right; padding:10px;">
      {{question_container.title}}
      <span>测试用时: {{question_container.duration}}</span>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <div ng-repeat="section in question_container.question_sections" section-sider="section">
      </div>
    </div>

    <div class="span10">
      <div section="defaultSection" template="findTemplate('section', defaultSection)"></div>
    </div>
  </div>
</div>
