<script type="text/ng-template" id="question_container_1">
  <div class="row">
    <div class="span12" style="text-align:right; padding:10px;">
      {{questionContainer.title}}
      <span>测试用时: {{questionContainer.duration}}</span>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <div ng-repeat="section in questionContainer.question_sections" section-sider="section">
      </div>
    </div>

    <div class="span10">
      <div section="defaultSection" template="'section_template_1'"></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="section_sider.html">
  <div ng-hide="section.question">
    <a href="javascript:" ng-click="showSection(section)"><h6>{{section.title}}</h6></a>
    <span>{{section.record.completed_count}}/{{section.record.total_count}}</span>
    <div section-sider="sub_section" ng-repeat="sub_section in section.children"></div>
  </div>

  <div ng-show="section.question">
    <a href="javascript:" ng-click="showSection(section)">{{section.question_num}}</a>
    <span>{{section.question.record.completed_count}}/{{section.question.record.total_count}}</span>
  </div>
</script>

<script type="text/ng-template" id="section_template_1">
  <div ng-hide='section.question'>
    <h3>{{section.title}}</h3>
    <div ng-bind-html-unsafe="section.description"></div>
    <div class="section" title="section-{{section.id}}" ng-repeat="section in section.children" ng-include="'section_template_1'"></div>
    <button ng-hide="section.record.status=='completed'" class="btn" ng-click="submitSection(section)">板块核对</button>
  </div>

  <div ng-show='section.question'>
    <div block="section.question" question-num="section.question_num" template="'block_template_1'"></div>
  </div>
</script>

<script type="text/ng-template" id="block_template_1">
  <div ng-hide='question.question_content'>
    <h5>{{questionNum}}</h5>
    <div ng-bind-html-unsafe="question.material"></div>
    <div ng-repeat="question in question.children" ng-include="'block_template_1'"></div>
    <button ng-hide="question.record.status=='completed'" class="btn" ng-click='submitBlock(question)'>题块核对</button>
  </div>
  <div ng-show='question.question_content'>
    <div question='question' template="'question_template_1'"></div>
  </div>
</script>

<script type="text/ng-template" id="question_template_1">
  <div>
    <span class="number">{{question_content.question_num}}.</span>
    <div ng-bind-html-unsafe="question_content.content"></div>
  </div>
  <div class="choice-options">
    <div ng-repeat="optIdx in ['a', 'b', 'c', 'd', 'e']" ng-show="question_content['option_'+optIdx]" class="row">
      <label class="span1">
        <input type="radio" name="q_{{question_content.id}}" value="{{optIdx|uppercase}}" ng-model="question.record.answer" ng-disabled="question.record.submitted" /> {{optIdx|uppercase}})
      </label>
      <div class="" ng-bind-html-unsafe="question_content['option_'+optIdx]"></div>
    </div>
  </div>
  <button class="btn" ng-hide="record.submitted" ng-click="submitQuestion(question, record.answer)">单题核对</button>
</script>

<style type="text/css">
  .section-sider, .section, .block, .question {
    margin: 10px 0;
    padding: 10px;
    border: #ccc solid 1px;
  }
</style>

<div class="container">
  <div yc-question-container="question_container" default-section="defaultSection" template="'question_container_1'"></div>
</div>
