<style type="text/css">
body {
  padding:10px 10px 100px 10px;
}
h1.show {
  text-align:center;
  line-height:50px;
  background:#f8f8f8;
}
h2.show {
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
  margin-top:30px;
}
.float {
  display:inline-block;
  zoom:1;
 *display:inline;
  vertical-align:middle;
  margin-right:10px;
 *margin-right:16px;
}
.box {
  margin:5px 0;
}
</style>

<h1 class="show">前端结构样式（示意页面）</h1>
<h2 class="show">标题</h2>
<h1>H1标题文字</h1>
<h2>
H2标题文字
</h1>
<h3>
H3标题文字
</h1>
<h4>
H4标题文字
</h1>
<h5>
H5标题文字
</h1>
<h2 class="show">按钮</h2>
<div class="box normal"> <Span class="float">普通按钮样式</Span> <a href="#" class="btn btn-primary  btn-mini">按钮</a> <a href="#" class="btn btn-primary btn-small">按钮</a> <a href="#" class="btn btn-primary btn-medium">按 钮</a> <a href="#" class="btn btn-primary btn-large">按 钮</a> </div>
<div class="box important"> <Span class="float">强调按钮样式</Span> <a href="#" class="btn btn-warning btn-mini">按钮</a> <a href="#" class="btn btn-warning btn-small">按钮</a> <a href="#" class="btn btn-warning btn-medium">按 钮</a> <a href="#" class="btn btn-warning btn-large">按 钮</a> </div>
<div class="box second"> <Span class="float">次要按钮样式</Span> <a href="#" class="btn btn-mini">按钮</a> <a href="#" class="btn btn-small">按钮</a> <a href="#" class="btn btn-medium">按 钮</a> <a href="#" class="btn btn-large">按 钮</a> </div>
<h2 class="show">带图标的按钮</h2>
<div class="box"> <a href="#" class="btn btn-small"><i class="icon-repeat"></i> 重做</a> <a href="#" class="btn btn-small"><i class="button-ico save"></i> 暂存</a> <a href="#" class="btn btn-small"><i class="icon-pause"></i> 暂停</a> <a href="#" class="btn btn-small"><i class="icon-play"></i> 继续</a> </div>
<h2 class="show">导图按钮</h2>
<div class="box">
<a class="mind-button element-shadow-button mind-button-large">2012年6月CET4</a>
<a class="mind-button element-shadow-button mind-button-large">2012年6月CET4</a>
</div>
<h2 class="show">title弹出提示框</h2>
<div class="box">
  <style type="text/css">
.title-tips{
  position:relative;
  margin-right:16px;
}
</style>
  <div>
    <h4>Positional</h4>
    <button popover-placement="top" popover="On the Top!" class="btn">顶部弹窗</button>
    <button popover-placement="left" popover="On the Left!" class="btn">左侧弹窗</button>
    <button popover-placement="right" popover="On the Right!" class="btn">右侧弹窗</button>
    <button popover-placement="bottom" popover="On the Bottom!" class="btn">底部弹窗</button>
    <button popover-placement="mouse" popover="relative to mouse" class="btn">跟随鼠标</button>
  </div>
</div>
<div class="box">
  <style type="text/css">
.title-tips-mini {
  position:relative;
  margin-right:16px;
}
</style>
  <script type="text/javascript">
		$(function(){
				$('.examples').tooltip(options)
		});
  </script>
  <ul class="examples inline">
    <li class=""><a title="" tooltip-placement="top" tooltip="顶部mini的tips">顶部mini的tips</a></li>
    <li><a title="" tooltip-placement="right" tooltip="右侧mini的tips">右侧mini的tips</a></li>
    <li><a title="" tooltip-placement="bottom" tooltip="底部mini的tips">底部mini的tips</a></li>
    <li><a title="" tooltip-placement="left" tooltip="左侧mini的tips">左侧mini的tips</a></li>
  </ul>
</div>
<h2 class="show">提示框</h2>
<div class="box" >
  <div class="row-fluid">
    <div class="span6"> 
      <script type="text/ng-template" id="ui/dialog1.tpl">
        <div class="modal-header">
          <h3>This is the title</h3>
        </div>
        <div class="modal-body">
          <p>Enter a value to pass to <code>close</code> as the result:
            <input ng-model="result" />
          </p>
        </div>
        <div class="modal-footer">
          <button ng-click="close(result)" class="btn btn-primary" >关闭</button>
        </div>
      </script>
      <p>Dialog</p>
      <p>
        <button class="btn btn-primary" ng-click="openDialog()">打开弹出框</button>
      </p>
      <script type="text/ng-template" id="ui/dialog2.tpl">
        <div class="modal-header">
          <h3>Second Dialog</h3>
        </div>
				<a class="close" href="javascript:" ng-click="close()">×</a>
        <div class="modal-body">
          <p><img src="assets/img/dia-green.png">　操作已成功</p>
        </div>
        <div class="modal-footer">
          <button ng-click="close()" class="btn btn-primary" >关闭</button>
        </div>
      </script>
      <p>Dialog2</p>
      <p>
        <button class="btn btn-primary" ng-click="openDialog2()">打开弹出框</button>
      </p>
      <p>Alternatively open a simple message box:</p>
      <p>
        <button class="btn btn-primary" ng-click="openMessageBox()">打开弹出框</button>
      </p>
    </div>
  </div>
</div>
<h2 class="show">按钮/面板阴影</h2>
<div class="box clearfix panel-show">
  <style type="text/css">
  .panel-show .panel {
    width:300px;
    height:200px;
    float:left;
    margin-right:10px;
  }
  </style>
  <div class="panel element-shadow"> </div>
  
  <div class="panel element-shadow-all"> </div>
  
  <a class="btn btn-medium element-shadow-button" style="background:white; border:1px solid #ccc; color:#535353!important">按钮文字</a> 
  
  <div class="panel element-shadow">
    <div class="header">
      <h1><i class="icon-file"></i> 对话框标题</h1>
    </div>
  </div>
  
</div>
  
<h2 class="show">下拉分裂按钮</h2>
<div class="box">
  <div class="btn-group">
    <button class="btn btn-mini btn-primary">整理词库</button>
    <button class="btn dropdown-toggle btn-mini btn-primary" data-toggle="dropdown"> <span class="caret"></span> </button>
    <ul class="dropdown-menu">
      <li><a href="#">背一组</a></li>
      <li><a href="#">背全部</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-mini btn-warning">整理词库</button>
    <button class="btn dropdown-toggle btn-mini btn-warning" data-toggle="dropdown"> <span class="caret"></span> </button>
    <ul class="dropdown-menu">
      <li><a href="#">背一组</a></li>
      <li><a href="#">背全部</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-small btn-primary">整理词库</button>
    <button class="btn dropdown-toggle btn-small btn-primary" data-toggle="dropdown"> <span class="caret"></span> </button>
    <ul class="dropdown-menu">
      <li><a href="#">背一组</a></li>
      <li><a href="#">背全部</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-small btn-warning">整理词库</button>
    <button class="btn dropdown-toggle btn-small btn-warning" data-toggle="dropdown"> <span class="caret"></span> </button>
    <ul class="dropdown-menu">
      <li><a href="#">背一组</a></li>
      <li><a href="#">背全部</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-medium btn-primary">整理词库</button>
    <button class="btn dropdown-toggle btn-medium btn-primary" data-toggle="dropdown"> <span class="caret"></span> </button>
    <ul class="dropdown-menu">
      <li><a href="#">背一组</a></li>
      <li><a href="#">背全部</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-medium btn-warning">整理词库</button>
    <button class="btn dropdown-toggle btn-medium btn-warning" data-toggle="dropdown"> <span class="caret"></span> </button>
    <ul class="dropdown-menu">
      <li><a href="#">背一组</a></li>
      <li><a href="#">背全部</a></li>
    </ul>
  </div>

</div>
<h2 class="show">表格</h2>
<div class="box">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th style="width:10%">序号</th>
        <th style="width:15%">测试类别</th>
        <th style="width:20%">开始时间</th>
        <th style="width:15%">测试用时</th>
        <th style="width:10%">进度</th>
        <th style="width:10%">得分</th>
        <th style="width:20%">操作</th>
      </tr>
    </thead>
    <tbody>
    	<tr class="even" id="record_389">
        <td style="width:10%" class="_index">1</td>
        <td style="width:15%">新测试</td>
        <td style="width:20%">2013.7.24 16:56</td>
        <td style="width:15%">00:00</td>
        <td style="width:10%">0/91</td>
        <td style="width:10%">--</td>
        <td style="width:20%">
            <a data-url="/quizzes/do?continuing=true&amp;quiz_id=944&amp;quiz_record_id=389" class="_open_quiz bluelink" href="javascript:">继续测试</a>
        </td>
       </tr>
       <tr class="odd" id="record_389">
        <td style="width:10%" class="_index">1</td>
        <td style="width:15%">新测试</td>
        <td style="width:20%">2013.7.24 16:56</td>
        <td style="width:15%">00:00</td>
        <td style="width:10%">0/91</td>
        <td style="width:10%">--</td>
        <td style="width:20%">
            <a data-url="/quizzes/do?continuing=true&amp;quiz_id=944&amp;quiz_record_id=389" class="_open_quiz bluelink" href="javascript:">继续测试</a>
        </td>
       </tr>
       <tr class="even" id="record_389">
        <td style="width:10%" class="_index">1</td>
        <td style="width:15%">新测试</td>
        <td style="width:20%">2013.7.24 16:56</td>
        <td style="width:15%">00:00</td>
        <td style="width:10%">0/91</td>
        <td style="width:10%">--</td>
        <td style="width:20%">
            <a data-url="/quizzes/do?continuing=true&amp;quiz_id=944&amp;quiz_record_id=389" class="_open_quiz bluelink" href="javascript:">继续测试</a>
        </td>
       </tr>
       <tr class="odd" id="record_389">
        <td style="width:10%" class="_index">1</td>
        <td style="width:15%">新测试</td>
        <td style="width:20%">2013.7.24 16:56</td>
        <td style="width:15%">00:00</td>
        <td style="width:10%">0/91</td>
        <td style="width:10%">--</td>
        <td style="width:20%">
            <a data-url="/quizzes/do?continuing=true&amp;quiz_id=944&amp;quiz_record_id=389" class="_open_quiz bluelink" href="javascript:">继续测试</a>
        </td>
       </tr>
    </tbody>
  </table>
</div>
<h2 class="show">手风琴效果</h2>
<div class="box">
</div>