<script type="text/ng-template" id="question.html">
  <div class="question" ng-include="templateUrl"></div>
  <strong ng-show="record.answer">Correct: {{isCorrect()}}</strong>
  <hr />
</script>

<script type="text/ng-template" id="choiceQuestion.html">
  <div>
    <span class="number">{{question.num}}.</span>
    <div ng-bind-html-unsafe="question.content"></div>
  </div>
  <div class="choice-options">
    <div ng-repeat="optIdx in ['a', 'b', 'c', 'd', 'e']" ng-show="question['option_'+optIdx]" class="row">
      <label class="span1">
        <input type="radio" name="q_{{question.num}}" value="{{optIdx|uppercase}}" ng-model="record.answer" ng-disabled="container.submitted" /> {{optIdx|uppercase}})
      </label>
      <div class="" ng-bind-html-unsafe="question['option_'+optIdx]"></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="fillingQuestion.html">
  <span class="number">{{question.num}}.</span>
  <div filling-content="question.content" class="content"></div>
</script>

<style type="text/css" media="screen">
  .number {
    float: left;
    padding-right: 5px;
  }
</style>

<div ng-repeat="question in questions" question="question" container="container"></div>

<a class="btn" ng-click="toggleSubmit()">切换交卷</a>
